<div class="modal-overlay" (click)="onCancel()">
  <div class="modal-dialog" (click)="$event.stopPropagation()" [class.is-danger]="isDanger">
    <div class="icon-wrapper">
      <span class="mat-icon">{{ icon }}</span>
    </div>
    
    <div class="modal-content">
      <h3>{{ title }}</h3>
      <p>{{ message }}</p>
    </div>

    <div class="modal-actions">
      <button type="button" class="btn ghost" (click)="onCancel()">{{ cancelText }}</button>
      <button type="button" class="btn" [class.danger]="isDanger" [class.primary]="!isDanger" (click)="onConfirm()">
        <span class="mat-icon sm" *ngIf="confirmIcon">{{ confirmIcon }}</span>
        {{ confirmText }}
      </button>
    </div>
  </div>
</div>